* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

body {
    background-color: #121212;
    color: #fff;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Poppins',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    background-color: #263238;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: context-menu;
    -webkit-app-region: drag;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#left #app_name {
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
}
#right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
}

#right button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    outline: none;
    border: none;
}

.minimize_button {
    background: url("../../assets/icons/minimize.svg") no-repeat center;
}

.maximize_button {
    background: url("../../assets/icons/maximize.svg") no-repeat center;
}

.restore_button {
    background: url("../../assets/icons/restore.svg") no-repeat center;
}

.close_button {
    background: url("../../assets/icons/close.svg") no-repeat center;
}

#minimize:hover,
#maximizeOrRestore:hover {
    background-color: #383f44;
}

#close:hover {
    background-color: red;
}

#main {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#cpu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heading {
    text-align: center;
    color: #fff;
}

.background {
    width: 300px;
    height: 24px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

#cpuUsageBar {
    width: 50%;
    height: 24px;
    border-radius: 4px;
    background-color: #B39DDB;
}

#memory{
    margin-top: 30px;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #B39DDB;
    color: #121212;
}